GAS.vcxproj
GAS.vcxproj.filters
GAS.vcxproj.user
Release
Debug
x64/Test
CMakeFiles
CMakeCache.txt
cmake_install.cmake
.vscode
out
.vs
!.vs/launch.vs.json
IO/test
IO/test.asm.ThisIsTotallyExecutable
IO/test.asm.exe
IO/test.asm.exp
IO/test.asm.lib
IO/test.asm.obj
IO/test.asm.pdb
Evie